*{
  outline: 2px solid red;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  line-height: 1.6em;
}

body>section {
  clear: both;
  padding: 50px 0;
}

h1,
h2,
h3,
p{
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  color: #0c243d;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.4em;
}

h2 {
  color: #0c243d;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.6em;
}

section .separador {
  width: 60px;
  height: 4px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #182848;
}

/* principal & app */

section#principal {
  background: #123156;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#182848), to(#123156));
  background: linear-gradient(to top, #182848, #123156);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
section#principal img{
  margin: 0 auto;
}
section#app .social {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #123156;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#182848), to(#123156));
  background: linear-gradient(to bottom, #182848, #123156);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
}

/**  caracteristicas **/

section.grisBG {
  background-color: #f5f5f5;
}
section#caracteristicas #appCentral{
  margin: 0 auto;
}
section#caracteristicas p {
  font-size: 1.1em;
  color: #858585;
}

section#caracteristicas .caracteristica {
  display: flex;
  margin-bottom: 22px;
  clear: both;

}

section#caracteristicas .icono {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #123156;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#182848), to(#123156));
  background: linear-gradient(to bottom, #182848, #123156);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  line-height: 120px;
  vertical-align: middle;
  text-align: center;
}

/* PANTALLAS */

section#pantallas img {
  max-width: 90%;
}

div .modal-body {
  text-align: center;
}

div.modal-body img {
  max-width: 90%;
}

/* parallax */

h2.parallax {
  text-transform: none;
  font-size: 3.6em;
  font-weight: 700;
  color: #ffff;
  text-shadow: 0px 5px 8px black;
  -webkit-text-shadow: 0px 5px 8px black;
  -moz-text-shadow: 0px 5px 8px black;
}

section#parallax {
  height: 500px;
  background-image: url(../img/ipadApp.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* descargar */

section#descargar div.contenidoDescarga {
  height: 700px;
}
section#descargar .container-fluid{
  position: relative;
  padding: 0;
}
section#descargar div.phone {
  float: left;
  width: 50%;
  height: 100%;
  -webkit-box-shadow: inset -7px -7px 12px -2px rgba(0, 0, 0, 0.15);
  box-shadow: inset -7px -7px 12px -2px rgba(0, 0, 0, 0.15);
  z-index: 1;
  text-align: center;

}

section#descargar div.derechaVacio{
  width: 50%;
  background-color: #f5f5f5;
  float: right;
  height: 100%;
  z-index: 2;
  background-image: url(../img/descargaAppBG.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

section#descargar .descarga{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
}

section#descargar .plataformas >div{
  border-radius: 20px;
  border: 3px solid #0c243d;
  padding: 11px o;
  font-size: 1.2em;
  position: relative;
  padding-left: 50px;
  color: #0c243d;
}

section#descargar .plataformas >div span{
  font-weight: bold;
}

/* soporte */
section#soporte p,
#h1Soporte{
  color: #ffffff; 
}

section#soporte .separador{
  background-color: #ffffff;
}
section#soporte p{
  font-size: 1.6em;
  margin-bottom: 20px;
}

section#soporte{
  background-color: #123156;
}

section#soporte .campos{
  background-color: #123156;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

section#soporte form{
  margin-top: 30px;
}

section#soporte input,{
  min-height: 50px;
  margin-bottom: 20px;
}

::-webkit-input-placeholder{
  color: #ffffff !important;
}
:-moz-placeholder{
  color: #ffffff !important;
}
:-ms-input-placeholder{
  color: #ffffff !important;
}

section#soporte .btn, .btn-default{
  background: #ffffff;
  border-radius: 14px;
  padding: 5px 43px;
  font-size: 1.4em;
  text-transform: uppercase;
}